# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Archivos temporales
*.tmp
*.log

# Sistema operativo
.DS_Store
Thumbs.db